<h1>Setting Up</h1>

<h2>Prerequisites</h2>
<p>This part of documentation assumes you have at least some basic knowledge of  <code>Angular-CLI</code>, <code>TypeScript</code>, a reasonable familiarity with <code>Node</code> and how all of these fit together 
and also you already have an angular application up and running.</p>

<p>If you don't have angular application running, continue to follow the steps below:</p>


<h1>Introduction to Angular 6</h1>

<p>Angular in it's latest version, Angular 6.0, many of the improvements were to the Angular CLI and a new schematic has been added to help you generate a library.</p>

<p>Let us begin by setting up the workspace.</p>

<h3>Creating an Angular Workspace</h3>
<p>Our first goal was to create an Angular workspace named <code><strong>content-editor</strong></code> </p>

<app-codeblock>
    ng new content-editor

    <br>

    cd content-editor

    <br>

    ng serve --open
</app-codeblock>

<br>
<p>When we point our browser at:
<code>http://localhost:4200/</code>
we see the starter Angular application</p>

<h4><a routerLink="/introduction-angular-6">Next, How to generate a library in Angular 6?</a></h4>
<br>

<div class="ui ignored info message">
  <i class="info icon"></i>
  If you don't have Angular-CLI, follow the below steps:

  <ul class="ui list">

  </ul>
  <li>
    Install the
    <a href="https://github.com/angular/angular-cli">Angular CLI</a>, if you haven't already done so.
  </li>
  <li>
    To quickly set up a node on your machine, 
    <a href="https://nodejs.org/en/">Set up Node</a>.
  </li>
  <li>To learn more about Angular 6 and it's features, head to
          <a href="https://angular.io/docs">Angular 6 docs</a>
    </li>
</div>
<br>
<br>


